In [51]:
import pandas as pd

avaliacoes = {
    'Ana': {
        'Freddy x Jason': 2.5, 
        'O Ultimato Bourne': 3.5,
        'Star Trek': 3.0, 
        'Exterminador do Futuro': 3.5, 
        'Norbit': 2.5, 
        'Star Wars': 3.0
    },
    'Marcos': {
        'Freddy x Jason': 3.0, 
        'O Ultimato Bourne': 3.5, 
        'Star Trek': 1.5, 
        'Exterminador do Futuro': 5.0, 
        'Star Wars': 3.0, 
        'Norbit': 3.5
    },
    'Pedro': {
        'Freddy x Jason': 2.5, 
        'O Ultimato Bourne': 3.0,
        'Exterminador do Futuro': 3.5, 
        'Star Wars': 4.0
    },
    'Claudia': {
        'O Ultimato Bourne': 3.5, 
        'Star Trek': 3.0,
        'Star Wars': 4.5, 
        'Exterminador do Futuro': 4.0, 
        'Norbit': 2.5
    },
    'Adriano': {
        'Freddy x Jason': 3.0, 
        'O Ultimato Bourne': 4.0, 
        'Star Trek': 2.0, 
        'Exterminador do Futuro': 3.0, 
        'Star Wars': 3.0,
        'Norbit': 2.0
    },
    'Janaina': {
        'Freddy x Jason': 3.0, 
        'O Ultimato Bourne': 4.0,
        'Star Wars': 3.0, 
        'Exterminador do Futuro': 5.0, 
        'Norbit': 3.5
    },
    'Leonardo': {
        'O Ultimato Bourne': 4.5,
        'Norbit': 1.0,
        'Exterminador do Futuro': 4.0
    }
}

df = pd.DataFrame(avaliacoes).transpose()
df

,Freddy x Jason,O Ultimato Bourne,Star Trek,Exterminador do Futuro,Norbit,Star Wars
Ana,2.5,3.5,3.0,3.5,2.5,3.0
Marcos,3.0,3.5,1.5,5.0,3.5,3.0
Pedro,2.5,3.0,NaN,3.5,NaN,4.0
Claudia,NaN,3.5,3.0,4.0,2.5,4.5
Adriano,3.0,4.0,2.0,3.0,2.0,3.0
Janaina,3.0,4.0,NaN,5.0,3.5,3.0
Leonardo,NaN,4.5,NaN,4.0,1.0,NaN

In [66]:
import math
import pandas as pd

def euclidiana(Data, usuario1, usuario2):
    si = {}
    for item in Data.columns:
        if not (pd.isna(Data.at[usuario1, item]) or pd.isna(Data.at[usuario2, item])):
            si[item] = 1

    if len(si) == 0:
        return 0

    soma = sum(
        pow(Data.at[usuario1, item] - Data.at[usuario2, item], 2)
        for item in si
    )

    return 1 / (1 + math.sqrt(soma))

In [67]:
euclidiana(df,'Claudia', 'Ana')

0.38742588672279304

In [68]:
def get_similaridade(Data, usuario):
    similaridade = [(euclidiana(Data, usuario, outro), outro)
                     for outro in Data.index if outro != usuario]
    
    similaridade.sort(reverse=True)
    
    print(f'Similaridade de {usuario} com outros usuários:')
    for sim, outro in similaridade:
        print(f'{outro}: {sim}')

In [69]:
get_similaridade(df, 'Leonardo')

Similaridade de Leonardo com outros usuários:
Adriano: 0.4
Pedro: 0.38742588672279304
Claudia: 0.3567891723253309
Ana: 0.3483314773547883
Janaina: 0.2674788903885893
Marcos: 0.25824569976124334

In [83]:
def get_recomendacao(Data, usuario, nota_minima=2.0):
    similaridades = []

    # Calcular similaridade com todos os outros usuários
    for outro_usuario in Data.index:
        if outro_usuario == usuario:
            continue

        similaridade = euclidiana(Data, usuario, outro_usuario)
        similaridades.append((outro_usuario, similaridade))

    # Ordenar por similaridade em ordem decrescente
    similaridades.sort(key=lambda x: x[1], reverse=True)

    # Escolher o usuário mais similar (o primeiro da lista)
    usuario_mais_similar = similaridades[0][0]

    # Filtrar os filmes que o usuário mais similar assistiu e o usuário atual ainda não assistiu, considerando a nota mínima
    filmes_recomendados = Data.loc[usuario_mais_similar][
        (Data.loc[usuario].isna()) & (Data.loc[usuario_mais_similar] >= nota_minima)
    ].index.tolist()

    # Retornar os top 5 filmes recomendados
    return filmes_recomendados[:10]

In [86]:
get_recomendacao(df, 'Claudia')

['Freddy x Jason']

In [ ]:
def carrega_dados(path='Curso sistemas de recomendação/ml-100k'):
    filmes = {}
    for linha in open(path + '/u.item'):
        (id, titulo) = linha.split(' | ')