Importação dos pacotes

In [23]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as ex

from sklearn.neighbors import NearestNeighbors

import warnings
warnings.filterwarnings('ignore')

Importação dos Dataframes

In [24]:
data_books = pd.read_csv('Books.csv')
data_ratings = pd.read_csv('Ratings.csv')
data_user = pd.read_csv('Users.csv')

In [25]:
data_books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [26]:
data_ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [27]:
data = data_books.merge(data_ratings, how='inner', on='ISBN')
data.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5

In [28]:
data = data.merge(data_user, how='inner', on='User-ID')
data.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN

In [29]:
data['Year-Of-Publication'] = pd.to_numeric(data['Year-Of-Publication'], errors='coerce')
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031134 non-null  object
 3   Year-Of-Publication  1031132 non-null  float64
 4   Publisher            1031134 non-null  object
 5   Image-URL-S          1031136 non-null  object
 6   Image-URL-M          1031136 non-null  object
 7   Image-URL-L          1031132 non-null  object
 8   User-ID              1031136 non-null  int64
 9   Book-Rating          1031136 non-null  int64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 94.4+ MB

In [30]:
data[data['Year-Of-Publication'].apply(lambda x: isinstance(x, str))] = ''
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031134 non-null  object
 3   Year-Of-Publication  1031132 non-null  float64
 4   Publisher            1031134 non-null  object
 5   Image-URL-S          1031136 non-null  object
 6   Image-URL-M          1031136 non-null  object
 7   Image-URL-L          1031132 non-null  object
 8   User-ID              1031136 non-null  int64
 9   Book-Rating          1031136 non-null  int64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 94.4+ MB

In [31]:
data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN

In [32]:
data['Location'] = data['Location'].str.split(',').str[-1]
data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,usa,18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,canada,NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,canada,NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,canada,NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,canada,NaN

In [33]:
data = data.loc[data['Book-Rating'] > 0]
data.describe()

       Year-Of-Publication        User-ID    Book-Rating            Age
count        383841.000000  383842.000000  383842.000000  269621.000000
mean           1965.636678  136031.461260       7.626701      36.835829
std             243.221296   80482.299401       1.841339      13.753045
min               0.000000       8.000000       1.000000       0.000000
25%            1992.000000   67591.000000       7.000000      28.000000
50%            1997.000000  133789.000000       8.000000      35.000000
75%            2001.000000  206219.000000       9.000000      45.000000
max            2050.000000  278854.000000      10.000000     244.000000

In [34]:
data = data.loc[data['Year-Of-Publication'] >= 1965]
data = data.loc[data['Year-Of-Publication'] <= 2023]
data = data.loc[data['Age'] <= 90]
data = data.loc[data['Age'] >= 7]

In [35]:
data['Year-Of-Publication'] = data['Year-Of-Publication'].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 262269 entries, 19 to 1031134
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 262269 non-null  object
 1   Book-Title           262269 non-null  object
 2   Book-Author          262267 non-null  object
 3   Year-Of-Publication  262269 non-null  int32
 4   Publisher            262267 non-null  object
 5   Image-URL-S          262269 non-null  object
 6   Image-URL-M          262269 non-null  object
 7   Image-URL-L          262269 non-null  object
 8   User-ID              262269 non-null  int64
 9   Book-Rating          262269 non-null  int64
 10  Location             262269 non-null  object
 11  Age                  262269 non-null  float64
dtypes: float64(1), int32(1), int64(2), object(8)
memory usage: 25.0+ MB

In [36]:
sampled_data = data.sample(n=10000)

matriz = sampled_data.pivot_table(values='Book-Rating', index='Book-Title', columns='User-ID')
matriz.fillna(0, inplace=True)

from scipy.sparse import csc_matrix
matriz_esparsa = csc_matrix(matriz)

In [45]:
matriz

User-ID,42,247,254,387,388,392,505,512,638,643,...,278185,278188,278245,278259,278492,278525,278586,278694,278843,278851
Book-Title,,,,,,,,,,,,,,,,,,,,,
Garfield Bigger and Better (Garfield (Numbered Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Murder of a Sleeping Beauty (Scumble River Mysteries (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Summonings: Books of Magic, Vol. 2",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
' Allo 'Allo: the War Diaries of Rene Artois,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dtv- Atlas Erste Hilfe.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
murder@maggody.com : An Arly Hanks Mystery (Arly Hanks Mysteries (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sed &amp; awk (A Nutshell handbook),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã?kotopia: Notizen und Reportagen von William Weston aus dem Jahre 1999 [sic],0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
model = NearestNeighbors(n_neighbors=5,
                         algorithm='brute',
                         metric="minkowski")
model.fit(matriz_esparsa)

NearestNeighbors(algorithm='brute')

In [39]:
for posicao, titulo in enumerate(matriz.index):
    if 'Harry Potter' in str(titulo):
        print(posicao, titulo)

2798 Harry Potter Und Der Feuerkelch
2799 Harry Potter and the Chamber of Secrets (Book 2)
2800 Harry Potter and the Chamber of Secrets (Harry Potter)
2801 Harry Potter and the Goblet of Fire (Book 4)
2802 Harry Potter and the Order of the Phoenix (Book 5)
2803 Harry Potter and the Prisoner of Azkaban (Book 3)
2804 Harry Potter and the Sorcerer's Stone (Book 1)
2805 Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))
2806 Harry Potter und der Gefangene von Azkaban
2807 Harry Potter und der Stein der Weisen
2808 Harry Potter y el cÃ¡liz de fuego
2809 Harry Potter y el prisionero de Azkaban
2810 Harry Potter y la cÃ¡mara secreta
6436 The Gospel According to Harry Potter: Spirituality in the Stories of the World's Most Famous Seeker

In [40]:
livro = matriz_esparsa[2713, :].reshape(1, -1)

In [41]:
distancia, recomendacao = model.kneighbors(livro)

In [42]:
distancia

array([[ 0.        ,  1.        , 10.04987562, 10.04987562, 10.04987562]])

In [43]:
recomendacao

array([[2713, 7998,  858,  468,  382]], dtype=int64)

In [44]:
for livro in range(len(recomendacao)):
    print(matriz.index[recomendacao[livro]])

Index(['Greenfire (Tsr Books)', 'When the Changewinds Blow',
       'Black Coffee Blues', 'American Psycho (German)', 'Against the Grain'],
      dtype='object', name='Book-Title')