In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
from sklearn.linear_model import LinearRegression

In [10]:
df = pd.read_csv('female_birth.csv',parse_dates = [0], index_col = 0)

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.head()

            Daily total female births in California, 1959
Date
1959-01-01                                             35
1959-01-02                                             32
1959-01-03                                             30
1959-01-04                                             31
1959-01-05                                             44

In [14]:
df = df.squeeze('columns')
type(df)

pandas.core.series.Series

In [15]:
df.head()

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Daily total female births in California, 1959, dtype: int64